.button,
.wire-button {
  font-weight: bold;
  border: none;
  background-color: #ca2728;
  border-radius: var(--default-border-radius);
  padding: 0.5rem 2.5rem;
  cursor:pointer;
  transition: 0.2s;
}

.button b {
  color: white;
}

.wire-button {
  background-color: white;
  border: none;
  box-shadow: var(--default-shadow);
  color:var(--main-color)
}

.wire-button:hover {
  background-color: var(--main-color);
  color:white;
}

.button:hover {
  box-shadow: var(--default-shadow);
}

.input {
  text-align: start;
  
}

.input input {
  width: 100%;
  background: rgb(245, 245, 245);
  border-radius: var(--default-border-radius);
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}
